<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>{% block title %}Key Connect{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'keyConnectapp/style.css' %}">
</head>
<body>
    <header class="main-header">
    <nav class="navbar">
        <img src="{% static 'logo.png' %}" alt="Logo" class="logo">

        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>

            {% if user.is_authenticated %}
                <li class="profile-dropdown">
                    {% if user.profile.profile_pic %}
                        <img src="{{ user.profile.profile_pic.url }}" alt="Profile Picture" class="nav-profile-pic">
                    {% else %}
                        <img src="{% static 'keyConnectapp/default.jpg' %}" alt="Dp" class="nav-profile-pic">
                    {% endif %}

                    <ul class="dropdown-menu">
                        <li><a href="{% url 'blog_create' %}">New Blog</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>


    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <address>
            <p>&copy; 2025 Key Connect. All rights reserved.</p>
            <p>Contact us: <a href="mailto:kedzangwenya@gmail.com">Kedza Ngwenya</a></p>
            <p>Follow us on:
                <a href="https://www.facebook.com/keyconnect">Facebook</a>,
                <a href="https://www.twitter.com/keyconnect">Twitter</a>,
                <a href="https://www.instagram.com/keyconnect">Instagram</a>
            </p>
        </address>
        <nav>
            <ul>
                {% comment %}
                <li><a href="% url 'privacy_policy">Privacy Policy</a></li>
                <li><a href="{% url 'terms_of_service' %}">Terms of Service</a></li>
                <li><a href="{% url 'help' %}">Help</a></li>
                {% endcomment %}
            </ul>
        </nav>
        <div class="footer-logo">
            <img src="{% static 'logo.png' %}" alt="Key Connect Logo">
        </div>
        <div class="featurs">
            <h3>Features</h3>
            <ul>
                {% comment %}
                <li><a href="{% url 'feature1' %}">Free Courses</a></li>
                <li><a href="{% url 'feature2' %}">Blogs</a></li>
                <li><a href="{% url 'feature3' %}">Feature 3</a></li>
                <li><a href="{% url 'feature4' %}">Feature 4</a></li>
                {% endcomment %}
            </ul>
        </div>
    </footer>
</body>
</html>