{% extends "base.html" %}
{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
<article class="blog-detail">
    <h1 class="blog-detail__title">{{ blog.title }}</h1>
    <p class="blog-detail__author-date">by {{ blog.author.username }} · {{ blog.created_at|date:"Y-m-d H:i" }}</p>
    {% if blog.image %}
        <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="blog-detail__image">
    {% endif %}
    <p class="blog-detail__content">{{ blog.content }}</p>
</article>
{% endblock %}

